.zrp-btn {
  @extend %zrp-btn;

  &.zrp-btn-large {
    padding: 1em 5em;
    display: inline-block;
  }

  &.animated {
    @extend %animated-button;
  }
}


%default-after {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5em;
}

.zrp-btn-play {
  &:before {
    @extend %default-after;
    content: "\f11b";
  }
}

.zrp-btn-start {
  &:before {
    @extend %default-after;
    font-size: 2em;
    padding-top: 0.25em;
    content: "\f04b";
  }
}

.zrp-btn-restart {
  &:before {
    @extend %default-after;
    font-size: 2em;
    padding-top: 0.25em;
    content: "\f01e";
  }
}