.zrp-list {
  list-style: none;
  margin: 10px 0px;

  li {
    padding-left: 25px;
    margin: 15px 0px;

    &:before {
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 5px;
    }
  }

  &.dead {
    li:before {
      content: "\f21e";
    }
  }

  &.food {
    li:before {
      content: "\f0f5";
    }
  }
}