.bg-game {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  max-width: 100%;
}

.overflow {
  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
}

.bg-video {
  height: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
}

.zrp-full-screen-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  display: none;

  @include transform (translateX(-50%) translateY(-50%));
}