$pixelSize: 20px;
$gameSize: 30;
$gameDimensions: $gameSize * $pixelSize;

.game-board-wrapper {
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.game-board {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;

  width: $gameDimensions;
  min-width: $gameDimensions;
  height: $gameDimensions;
  min-height: $gameDimensions;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.pixel {
  display: inline-block;
  width: $pixelSize;
  height: $pixelSize;
  float: left;
}

.score {
  position: absolute;
  margin-top: -70px;
  display: inline-block;

  p {
    font-size: 2em;
    font-weight: bold;
  }
}

.overlay {
  position: absolute;
  @extend .game-board;
  z-index: 10;
}

.controls {
  position: absolute;
  z-index: 11;
  margin-left: $gameDimensions - 45px;
  margin-top: -40px;

  i {
    font-size: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.uctt-wrapper {
  z-index: 9;
  width: $gameDimensions;
  height: $gameDimensions;
  position: absolute;

  @include opacity(0);

  video {
    position: absolute;
    width: $gameDimensions;
    height: $gameDimensions;
  }
  &.appear {
    @include opacity(0.2);
  }
}



@media screen and ( max-height: $gameDimensions ) {
  .bg-game {
    height: auto;
    min-height: 100vh;
    padding-bottom: $gameDimensions / 4;
  }

  .bg-video {
    min-height: 100vh;
    height: auto;
  }
}