.zrp-text-bigger {
  font-size: 1.9em;
}

.zrp-title {
  font-size: 2.9em;
  text-align: center;

  &.bigger {
    font-size: 8em;
  }

  &.align-left {
    text-align: left;
  }
}

.zrp-subtitle {
  font-size: 1.6em;
  margin: 0.5em 0;
}

.zrp-observation {
  display: block;
  margin-top: 0.5em;

  font-size: 1em;
  font-style: italic;
}

.zrp-text {
  font-size: 1.2em;
}

.zrp-highlight {
  font-size: 1.6em;
}
