/* Extra Small Devices, Phones */
@media only screen and (min-width : 768px) {
  @import "768/sections";
}

/* Medium Devices, Tablets */
@media only screen and (min-width : 998px) {
  @import "998/sections";
}

/* Notebooks and normal screens */
@media only screen and (min-width : 1200px) {
  @import "1200/sections";
}

/* Small Height Screens */
@media only screen and (min-width: 998px) and (min-height: 600px) {
  @import "998_600/sections";
}