@font-face {
    font-family: 'Visitor';
    src: asset-url('visitor1.eot');
    src: asset-url('visitor1.eot?#iefix') format('embedded-opentype'),
         asset-url('visitor1.svg') format('svg'),
         asset-url('visitor1.woff') format('woff'),
         asset-url('visitor1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}