$videoFirstFrame: image_path("first_frame.png");

%video-fallback {
  background: url(#{$videoFirstFrame}) no-repeat;
  background-size: cover;
}

.bg-game {
  background: $zrp-brand-primary;
}

.zrp-full-screen-video {
  @extend %video-fallback;
}

.bg-video {
  @extend %video-fallback;
}