// Game Images
.zrp-game {
  .pixel {
    background: url(image_path('snake/snake_game_sprite.png'));
    background-size: 134px 90px;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    background-position: get-position(4, 1); // default map tile

    // Snake Alive
    &.snake {
      // Default
      background-position: get-position(1, 2); // snake body
      &.head           { background-position: get-position(1, 1); }
      &.tail           { background-position: get-position(1, 3); }

      // Shield
      &.unbreakable         { background-position: get-position(1, 5); }
      &.head.unbreakable    { background-position: get-position(1, 4); }
      &.tail.unbreakable    { background-position: get-position(1, 6); }

      // Magnetize
      &.magnetized      { background-position: get-position(2, 5); }
      &.head.magnetized { background-position: get-position(2, 4); }
      &.tail.magnetized { background-position: get-position(2, 6); }

      @include rotatable("head");
      @include rotatable("tail");
    }

    // Snake Dead
    &.snake.dead {
      background-position: get-position(2, 2); // dead snake body
      &.head           { background-position: get-position(2, 1); }
      &.tail           { background-position: get-position(2, 3); }

      @include rotatable("head");
      @include rotatable("tail");
      @include rotatable("body");
    }

    // Foods
    &.food {
      background-position: get-position(3, 1); // basic food
      &.slow           { background-position: get-position(3, 2); }
      &.speed          { background-position: get-position(3, 3); }
      &.shield         { background-position: get-position(3, 4); }
      &.magnetize      { background-position: get-position(3, 5); }
      &.uctt           { background-position: get-position(3, 6); }
    }

    // Maps
    &.map {
      background-position: get-position(4, 2);
      &.snake          { background-position: get-position(4, 3) }
    }
  }
}

// Game Controls
.score {
  p {
    color: white;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
}

.controls {
  i {
    color: white;
  }
}


