%zrp-btn {
  position: relative;
  padding: 1em;
  font-size: 1.4em;
  overflow: hidden;
  text-align: center;
  border: none;
  border-radius: $zrp-btn-border-radius;
  cursor: pointer;

  background: $zrp-btn-background-default;
  color: darken($zrp-btn-color-default, 15%);
}

%animated-button {

  &:before {
    position: absolute;
    font-family: FontAwesome;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    @include transition(all 0.3s 0.15s);
  }

  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    @include transition(all 0.25s);
  }

  &:hover {
    &:before {
      left: 0%;
    }
    span {
      @include transform(translateX(270%));
    }
  }
}