@function get-position($row, $column) {
  $zrp-sprite-offset: -2px;
  $row-position: (-$zrp-pixel-size + $zrp-sprite-offset) * ($row    - 1) + $zrp-sprite-offset;
  $col-position: (-$zrp-pixel-size + $zrp-sprite-offset) * ($column - 1) + $zrp-sprite-offset;
  @return #{$col-position} #{$row-position}
};

@mixin rotatable($class) {
  &.#{$class} {
    &.right  { @include rotate(0);   }
    &.top    { @include rotate(-90); }
    &.left   { @include rotate(180); }
    &.bottom { @include rotate(90);  }
  }
};