.game-board-wrapper
  div.game-board
    .overlay.js-overlay
      .start-play
        button.zrp-btn.zrp-btn-large.zrp-btn-start.animated.js-start
          span
            | COMEÇAR

    .score
      p
        | Score:
        span.js-score
          | 0
      p
        | Level:
        span.js-level
          | 1
    .controls
      i.fa.fa-pause.js-pause-control
      i.fa.fa-volume-off.muted.js-music-control
    .uctt-wrapper.js-uctt
      = video_tag "uctt.mp4", 'data-uctt': ''
    .js-game
      - 900.times do
        .pixel

