.zrp-rules-wrapper
  article.rules
    h2.zrp-title
      | Regras
    br/
    .conditions-to-die
      h3.zrp-subtitle
        | Você irá
        span.zrp-highlight
          |  morrer
        |  :( se:
      ul.zrp-list.dead
        li.zrp-text
          | Bater em um obstáculo
        li.zrp-text
          | Se comer
    .kinds-of-food
      h3.zrp-subtitle
        span.zrp-highlight
          | Comidas
        |  disponíveis
      ul.zrp-list.food
        li.zrp-text
          b
            |  Basic:
          |  Adiciona apenas
          span.zrp-text-points
            |  20pts
          |  a sua pontuação
        li.zrp-text
          b
            |  Slow:
          |  Adiciona
          span.zrp-text-points
            |  40pts
          |  a sua pontuação e diminui a velocidade do jogo
        li.zrp-text
          b
            |  Speed:
          |  Adiciona
          span.zrp-text-points
            |  40pts
          |  a sua pontuação e aumenta a velocidade do jogo
        li.zrp-text
          b
            |  Shield:
          |  Adiciona
          span.zrp-text-points
            |  100pts
          |  a sua pontuação e te torna invencível.
          span.zrp-observation
            | Efeito Temporário. Disponível a partir do nível 2
        li.zrp-text
          b
            |  Magnetize:
          |  Atrai comidas básicas! Basta se movimentar na tela
          span.zrp-observation
            | Efeito Temporário. Disponível a partir do nível 3
        li.zrp-text
          b.zrp-highlight
            |  UCTT
          | ???