section.bg-video
  = video_tag(["background.mp4", "background.ogg"], class: "zrp-full-screen-video", autoplay: true, loop: :loop)
  header.zrp-header
    h1.zrp-title.bigger
      | SNAKE
      br/
      | JS
  .call-to-action
    button.zrp-btn.zrp-btn-large.zrp-btn-play.animated.js-play data-redirect=".js-game-board"
      span
        | JOGAR
    span.zrp-bouncing.zrp-caret.js-play data-redirect=".js-game-board"
      | ^

