.js-sound
  = audio_tag ["nhom_nhom.wav", "nhom_nhom.mp3", "nhom_nhom.mp3"], 'data-food-basic-sound': ''
  = audio_tag ["magnetize.wav", "magnetize.mp3", "magnetize.mp3"], 'data-food-magnetized-sound': ''
  = audio_tag ["speed.wav", "speed.mp3", "speed.mp3"], 'data-food-speeded-sound': ''
  = audio_tag ["slow.wav", "slow.mp3", "slow.mp3"], 'data-food-slowed-sound': ''
  = audio_tag ["shield.wav", "shield.mp3", "shield.mp3"], 'data-food-unbreakable-sound': ''
  = audio_tag ["dead.wav", "dead.mp3", "dead.mp3"], 'data-game-over-sound': ''
  = audio_tag ["map.wav", "map.mp3", "map.mp3"], 'data-break-map-sound': ''
  = audio_tag ["construction.wav", "construction.mp3", "construction.mp3"], 'data-generated-map-sound': ''
  = audio_tag ["level_up.wav", "level_up.mp3", "level_up.mp3"], 'data-level-raise-sound': ''
  = audio_tag ["game.wav", "game.mp3", "game.mp3"], 'data-game-sound': '', loop: true