.js-public-index
	= render partial: "introduction"

	= render partial: "game_board"

	= render partial: "sounds"

	- content_for :metatags do
			= favicon_link_tag 'favicon.ico'
			meta property="og:url" content="http://snakejs.zrp.com.br"
			meta property="og:type" content="website"
			meta property="og:site_name" content="Snake.JS"
			meta property="og:title" content="SnakeJS"
			meta property="og:description" content="Aprendendo HTML5, CSS3 e JavaScript através de um jogo clássico, revitalizado para dar enfoque aos conceitos fundamentais da Web. Introduziram-se habilidades especiais, mapas randômicos, efeitos sonoros diversos e visuais que mesclam o arcade com o que há de novo em design e ferramental. Acesse já e começe a jogar!"
			meta property="og:image" content="#{image_url('facebook_snake.png')}"
			meta property="og:image:secure_url" content="#{image_url('facebook_snake.png')}"
			meta property="og:locale" content="pt_BR"


javascript:
	$(document).ready(function() {
		var component = new Public.Index($('.js-public-index'));
		component.init();
		component.build({});
	});