doctype html
html
  head
    title Snake JS
    = stylesheet_link_tag    'init', media: 'all'
    = javascript_include_tag 'init', media: 'all'
    = csrf_meta_tags
    = yield :metatags

  body
    = yield