$zrp-brand-primary: #27ae60;
$zrp-brand-secondary: rgba(236, 240, 241, 0.8);

// gameboard
$zrp-pixel-size: 20px;

//buttons
$zrp-btn-background-default: $zrp-brand-secondary;
$zrp-btn-color-default: #1dd2af;
$zrp-btn-border-radius: 1.5px;

//text
$zrp-title-color: $zrp-brand-secondary;
$zrp-highlight-color: #F7CA18;
$zrp-point-color: #D91E18;