.zrp-instructions {
  height: 100%;
  overflow-y: auto;
  width: 35%;
  display: inline-block;

  .zrp-rules-wrapper {
    display: table;
    height: 100%;
  }

  .rules {
    display: table-cell;
    vertical-align: middle;
  }
}

.zrp-game {
  height: 100%;
  position: relative;
  display: inline-block;
  width: 65%;
}

.bg-game {
  height: 100%;
}