.call-to-action {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5%;

  text-align: center;
}

.zrp-caret {
  display: block;
  margin-top: 0.1em;
  font-size: 2.5em;
  cursor: pointer;
  color: darken($zrp-btn-color-default, 15%);
  @extend %bouncing-caret;
}

.zrp-header {
  position: relative;
  top: 30%;
  left: 5%;
  width: 90%;
  z-index: 1;
}

/********************
  Instructions
********************/
.rules {
  padding: 15px;
}

.zrp-instructions {
  border: dashed 3px $zrp-brand-secondary;
}

%bouncing-caret {
  @include animation(bouncing 0.8s linear alternate infinite);
}

/*********************
  Game
*********************/
.start-play {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 44%;

  text-align: center;
}

@include keyframes('bouncing') {
  from {
    @include transform(translateY(20px) rotate(180deg));
  }
  to {
    @include transform(translateY(0) rotate(180deg));
  }
}